{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}My shop{% endblock %}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>
<body>
  <div class="nav">
    <img src="{% static "images/dark-logo.png" %}" class="brand-logo" alt="love">
<div class="nav-items">
    <div class="search">
    <input type="text" class="search-box" placeholder="search 1place">
    <button class="search-btn">search</button>
    <a href="#"><img src="{% static "images/cart.png" %}" alt="add"></a>
    </div>
</div>
</div>

<ul class="links-containers">
<li class="link-item"><a href="" class="link">home</a></li>
<li class="link-item"><a href="" class="link">home</a></li>
<li class="link-item"><a href="" class="link">home</a></li>
<li class="link-item"><a href="" class="link">home</a></li>
</ul>

<!-- <div id="header">
<a href="/" class="logo">One Place</a>
</div>
<div id="subheader">
<div class="cart">
  {% with total_items=cart|length %}
  {% if total_items > 0 %}
  Your cart:
  <a href="{% url "cart:cart_detail" %}">
  {{ total_items }} item{{ total_items|pluralize }},
  ${{ cart.get_total_price }}
  </a>
  {% else %}
  Your cart is empty.
  {% endif %}
  {% endwith %}
<i class="fa fa-shopping-cart"></i>
</div>
</div>
<div id="content"> -->
{% block content %}
{% endblock %}
</div>
</body>
</html>
